.col1{
	background: #5C7080;
}
.col2{
	background: #6BC0FF;
}
.col3{
	background: #D1603D;
}
.col4{
	background: #DDB967;
}
.col5{
	background: #96BE8C;
}
.col6{
	background: #48A9A6;
}
.col7{
	background: #8093F1;
}
.col8{
	background: #EB5E55;
}
.col9{
	background: #B388EB;
}
.col10{
	background: #C6CAED;
}
.col11{
	background: #9FC490;
}
.col12{
	background: #3E885B;
}
.col13{
	background: #BEDCFE;
}
.col14{
	background: #2F4B26;
}
.col15{
	background: #63C132;
}

.col16{
	background: #F5D6BA;
}

.col17{
	background: #DBBBF5;
}

.col18{
	background: #DDF0FF;
}

.col19{
	background: #9C0D38;
}

.col20{
	background: #A28497;
}



